{% extends 'base.html' %} {% block content %} {% load static %}
<div class="row">
  {% for page in pages %}
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
      <div class="card">
        <div class="card-body text-center">
          {% if page.icon %}
          <img src="{% static 'img/' %}{{ page.icon }}" class="mb-3" />
          {% endif %}
          <h5 class="card-title">{{ page.title }}</h5>
          <p class="card-text">{{ page.description }}</p>
          {% with page.url as url_name %}
                <a href="{% url url_name %}" class="btn btn-primary">{{ page.title }}</a>
          {% endwith %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
</div>
