{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-8">
    <div class="container mt-5 mb-5">
      <h2 class="text-center text-primary mb-4">Create New Account</h2>
      <form method="post" class="card p-4 bg-light" style="min-height: 450px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-8 col-sm-10">
            {% for field in form %}
            <div class="form-group mb-3">
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
              <div class="alert alert-danger">
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}